<html>

<div><b>Администрирование пользователей</b></div>

</br>

<div><b>Добавить нового пользователя</b></div>
    <div>
        <form method="post" action="add">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name="name"  placeholder="Имя">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="age"   placeholder="Возраст">
            <button type="submit"> Добавить </button>
        </form>
    </div>

<div><b>Удалить пользователя</b></div>
    <div>
        <form method="post" action="delete">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="text" name="del_name"  placeholder="Имя">
            <button type="submit"> Удалить </button>
        </form>
    </div>

<div><b>Список введеных пользователей </b></div>
    {{#users}}
        <div>
            <i> {{name}} </i>
            <i> {{email}} </i>
            <i> {{age}} </i>
        </div>
    {{/users}}
</body>

</html>