<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Администрирование пользователей</title>
</head>

<body>

<div class="container">

<div><b>Администрирование пользователей</b></div>
<div id="login_user" th:text="${login_user}"></div>
<br/>
<br/>
<div><b>Добавить нового пользователя</b></div>
    <div>
        <form th:action="@{/add_user}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{id}"/>
            <div class="container">
                <p id="mess1" th:text="${user_exist}"></p>
            </div>
            <div class="container">
                <p id="mess2" th:text="${error_exist}"></p>
            </div>
            <div>
                <label> Пользователь:
                <input type="text" th:field="*{username}"/>
                    <span class="validationError"
                        th:if="${#fields.hasErrors('username')}"
                        th:errors="*{username}"> Ошибка ввода пользователя
                    </span>
                </label>
            </div>
            <div>
                <label> Пароль: <input type="password" th:field="*{password}"/> </label>
            </div>
            <div>
                <label> Элк.почта: <input type="email" th:field="*{email}" placeholder="some@some.com"/> </label>
            </div>

            <div class="container" id="role">
                <b>Роль пользователя</b>
                <div th:each="role : ${roles}">
                    <input name="user_role" type="radio" th:value="${role}" th:checked="${#strings.equals(role, 'USER')}" />
                    <label th:text="${role.toString()}"> Роль пользователя </label>
                </div>
            </div>
            <br/>
            <button type="submit"> Добавить </button>
        </form>
    </div>
<br/>
<br/>
    <div><b>Список пользователей</b></div>
    <div class="container">
        <div class="row">
            <!--<label style="margin-right: 1.5mm" for="each"> th:each : </label>-->
            <table style="color: black">
                <thead>
                <tr>
                    <th> Имя </th>
                    <!--<th> Пароль </th>-->
                    <th> Элк.почта </th>
                    <th> Роль </th>
                    <th> Активирован </th>
                </tr>
                </thead>
                <tr id="users-table" th:each="user :${users}">
                    <td th:text="${user.username}"></td>
                    <!-- <td th:text="${user.password}"></td> -->
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.roles}"></td>
                    <td th:text="${user.getStateActivation() ? 'Да' : 'Нет'}"></td>
                    <td> <a th:href="@{'/user_edit/'+${user.id}}">Редактировать</a></td>
                    <td> <a th:href="@{'/del_user/'+${user.id}}">Удалить</a></td>
                </tr>
            </table>
        </div>
    </div>
<br/>
<br/>
<div><b>Список текущих сессий</b></div>
<div class="container">
    <div class="row">
        <!--<label style="margin-right: 1.5mm" for="each"> th:each : </label>-->
        <table style="color: black">
            <thead>
            <tr>
                <th> Номер сессии </th>
                <th> Имя пользователя </th>
                <th> Последний запрос </th>
            </tr>
            </thead>
            <tr id="sessions-table" th:each="chart_session :${chart_sessions}">
                <td th:text="${chart_session.getSessionId()}"></td>
                <td th:text="${chart_session.getPrincipal().getUsername()}"></td>
                <td th:text="${chart_session.getLastRequest()}"></td>
                <td> <a th:href="@{'/exit_user/'+${chart_session.getSessionId()}}">Закончить сессию</a></td>
            </tr>
        </table>
    </div>
</div>
<br/>
<div>
<a th:href="@{/}"> Вернуться на главную страницу>> </a>
</div>
<br/> <br/>
<div th:insert="common::copy"></div>

</div>

</body>
</html>