<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Администрирование пользователей</title>
</head>

<body>
<div><b>Администрирование пользователей</b></div>
</br>
<div><b>Добавить нового пользователя</b></div>
    <div>
        <form th:action="@{/add_user}" method="post">
            <input type="text" name="username"  placeholder="Имя">
            <input type="text" name="password"  placeholder="Пароль">
            <!-- <input type="text" name="role"      placeholder="Role"> -->
            <div class="container" id="role">
                <b>Роль пользователя</b>
                <div th:each="role : ${roles}">
                    <input name="user_role" type="radio" th:value="${role}" />
                    <label th:text="${role.toString()}"> Роль пользователя </label>
                </div>
            </div>
            <button type="submit"> Добавить </button>
        </form>
    </div>
    <br>

<div class="container">
    <!--<div class="row" th:if="${mess_error != null}"></div> -->
    <p id="mess" th:text="${mess_error}"></p>
</div>

    <br>
    <div><b>Удалить пользователя</b></div>
    <div>
        <form th:action="@{/del_user}" method="post">
            <input type="text" name="del_name"  placeholder="Имя"/>
            <button type="submit"> Удалить </button>
        </form>
    </div>
    <br>
    <div><b>Список пользователей</b></div>
    <div class="container">
        <div class="row">
            <!--<label style="margin-right: 1.5mm" for="each"> th:each : </label>-->
            <table style="color: black" id="each">
                <thead>
                <tr>
                    <th> Имя </th>
                    <th> Пароль </th>
                    <th> Роль </th>
                </tr>
                </thead>
                <tr th:each="user :${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.roles}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br>
<div>
<a th:href="@{http://localhost:8080}"> Вернуться на главную страницу>> </a>
</div>

</body>

</html>