<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://www.google.com/recaptcha/api.js" async="true" defer="true"></script>
</div>

<div th:fragment="copy">
    &#169; 2019 made by cyrill
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>

<div th:fragment="pager (url, pages)">
    <div class="mt-3">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><span th:utext="#{messages.pages}"></span></a>
            </li>
            <li th:if="${pages.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{${'/messages'}(page=${pages.number-1},size=${pages.size})}"> <span th:utext="#{messages.previous}"> </span></a>
            </li>
            <li th:each="pageNo : ${#numbers.sequence(0, pages.getTotalPages() - 1)}" th:class="${pages.number eq pageNo}? 'page-item active' : 'page-item'">
                <a th:if="${pages.number  eq pageNo}" class="page-link" href="#">
                    <span th:text="${pageNo + 1}"></span>
                </a>
                <a th:if="${not (pages.number  eq pageNo)}" class="page-link" th:href="@{${'/messages'}(page=${pageNo},size=${pages.size})}">
                    <span th:text="${pageNo + 1}"></span>
                </a>
            </li>
            <li th:if="${pages.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{${'/messages'}(page=${pages.number+1},size=${pages.size})}"><span th:utext="#{messages.next}"> </span></a>
            </li>
        </ul>
    </div>
</div>


<div th:fragment="pager_old (url, pages)">
    <div class="mt-3">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><span th:utext="#{messages.pages}"></span></a>
        </li>
        <li th:each="pageNo : ${#numbers.sequence(0, pages.getTotalPages() - 1)}" th:class="${pages.number eq pageNo}? 'page-item active' : 'page-item'">
            <a th:if="${pages.number  eq pageNo}" class="page-link" href="#">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (pages.number  eq pageNo)}" class="page-link" th:href="@{${'/messages'}(page=${pageNo},size=${pages.size})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#"><span th:utext="#{messages.next}"> </span></a>
        </li>
    </ul>
    </div>
</div>

<div th:fragment="registrashion (name, user, registr)">

    <form method="post" th:action="@{'/' + ${name}}" th:object="${user}">
        <input type="hidden" th:field="*{id}">

        <div th:if="${user_exist} or ${captcha_error}">
            <span th:utext="#{common.error_exist}"></span>
        </div>
        <div th:if="${user_exist}">
            <span th:utext="#{common.error_exist_user}"></span>
        </div>
        <div th:if="${captcha_error}">
            <span th:utext="#{common.error_captcha}"></span>
        </div>

        <div class="form-group">
            <label> <span th:utext="#{login.user} + ':'"></span>
                <input type="text" th:field="*{username}"/> </label>
            <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}" th:utext="#{common.error_user}"> </span>
        </div>

        <div th:if="${registr}" class="form-group">
            <label> <span th:utext="#{registration.password}"></span> <input type="password" th:field="*{password}"/> </label>
            <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}" th:utext="#{common.error_password}"> </span>
        </div>

        <div th:if="${registr}" class="form-group">
            <label> <span th:utext="#{registration.confirm.password}"></span> <input type="password" id="passwordConfirm" name="passwordConfirm" th:value="${passwordConfirm}"/> </label>
            <span th:if="${password_not_confirm}" th:utext="#{common.error_password}"></span>
        </div>

        <div class="form-group">
            <label> <span th:utext="#{login.email} + ':'"></span> <input type="email" th:field="*{email}" placeholder="some@some.com"/> </label>
            <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}" th:utext="#{common.error_email}">  </span>
        </div>

        <div th:if="${registr}" class="form-group">
            <div class="g-recaptcha" data-sitekey="6Lf13roUAAAAALRufUpWe7IzkcP-WYvrf6UBbwJc"></div>
        </div>

        <div  class="form-group">
            <button type="submit" class="btn btn-primary"> <span th:utext="#{registration.input}"></span> </button>
        </div>

    </form>
</div>

</body>
</html>