<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index page</title>
</head>

<body>

<h1>Простой чат</h1>
<h1 th:inline="text"> Приветствую [[${#httpServletRequest.remoteUser}]]!</h1>

<br>
<div> <a th:href="@{/messages}"> <b> Начать </b> </a> </div>
<br>
<div> <a th:href="@{/admin_users}"> <b> Администрирование пользователей (только для ADMIN пользователей) </b> </a> </div>
<br> <br> <br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

</body>

</html>