<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Главная страница чата</title>
</head>

<body>

<h1>Простой чат</h1>

<h1>  <div id="login_user" th:text="'Приветствую ' + ${login_user.username}">  </div> </h1>

<br/>
<div> <a th:href="@{/messages}"> <b> Начать </b> </a> </div>
<br/>
<div> <a th:href="@{/profile}"> <b> Профиль </b> </a> </div>
<br/>

<div th:if="${login_user.isAdmin()} == true">
    <div> <a th:href="@{/admin_users}"> <b> Администрирование пользователей </b> </a> </div>
</div>

<br/> <br/> <br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>

<br/> <br/>
<div th:insert="common::copy"></div>

</body>
</html>