<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('login?lang=' + selectedOption);
                }
            });
        });
    </script>
    <!--<script src="internationalization.js"></script>-->
    <title>Login page</title>
</head>

<body>

<div class="container">

    <div class="form-group">
        <label> <h1><span th:utext="#{greeting}"></span></h1> </label>
        <br>
        <div class="container">
            <p id="activate_mess" th:text="${activate_mess}"></p>
        </div>

        <div th:if="${param.error}" th:utext="#{login.error_user}"></div>

        <div th:if="${param.logout}" th:utext="#{login.logout}"></div>
    </div>

    <div class="form-group">
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label class="col-form-label"> <span th:utext="#{login.user}+':'"></span> </label>
                <input type="text" name="username"/>
            </div>

            <div class="form-group">
                <label class="col-form-label"> <span th:utext="#{login.password}+':'"></span> </label>
                <input type="password" name="password"/>
            </div>

            <div class="form-group">
                <label class="col-form-label"> <span th:utext="#{login.remember}+':'"> </span> </label>
                <input id="remember" type="checkbox" name="remember-me" checked="true"/>
            </div>

            <div class="form-group">
                <!--<input type="submit" value="Sign In" th:value="#{login.sign_in}" />-->
                <button class="btn btn-primary" type="submit"> <span th:utext="#{login.sign_in}"></span></button>
            </div>

        </form>
    <br/>

    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="ru" th:text="#{lang.russ}"></option>
        <option value="us" th:text="#{lang.eng}"></option>
    </select>

    <br/> <br/>
    <a th:href="@{/registration}"> <span th:utext="#{login.registration}"></span> </a> </div>

    <br/> <br/>
    <div th:insert="common::copy"></div>

</div>

</body>

</html>