<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Login page</title>
</head>

<body>
    <h1><div th:utext="${greeting}"></div></h1>
    <br>
    <div class="container">
        <p id="activate_mess" th:text="${activate_mess}"></p>
    </div>

    <div th:if="${param.error}">
        Неправильное имя пользователя или пароль
    </div>
    <div th:if="${param.logout}">
        Вы вышли из системы
    </div>
    <br>
        <form th:action="@{/login}" method="post">
            <div>
                <label> Пользователь: <input type="text" name="username"/> </label>
            </div>
            <div>
                <label> Пароль: <input type="password" name="password"/> </label>
            </div>
            <div> <label> Запомнить меня <input id="remember" type="checkbox" name="remember-me" checked="true"/> </label> </div>
            <br/>
            <div>
                <input type="submit" value="Войти"/>
            </div>
        </form>

    <br/> <br/>
    <a th:href="@{/registration}"> Регистрация нового пользователя>> </a> </div>
    <br/> <br/>
    <div th:insert="common::copy"></div>

</body>

</html>