<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Простой чат</title>
</head>

<body>

<div class="container">

    <div class="card-columns">
        <ul th:each="mess :${all_messages}">
            <div class="card my-3">
                <li>
                    <div class="m-2">
                        <span th:utext="${mess.text}"></span>

                        <dev th:if="${mess.hasFile()}">
                            <i><a download="logo" th:href="@{'/messages/' +  ${mess.getFileNameCodeString()} }">файл</a></i>
                        </dev>

                    </div>

                    <div class="card-footer text-muted">
                        <span th:text="${mess.user.username}"> </span>
                        <span th:text="${mess.createAt}"> </span>
                    </div>
                </li>
            </div>
        </ul>
    </div>

    <br>
        <form th:action="@{/messages}" method="post" enctype="multipart/form-data" th:object="${message}">
 <!--
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{text}" placeholder="Введите сообщение"/>
            </div>
-->
            <div class="form-group">
                <textarea class="form-control" th:field="*{text}" id="textArea"
                          th:placeholder="#{messages.message}"></textarea>
            </div>
<!--
            <div class="custom-file">
                <input type="file" name="file" id="customFile"/>
                <label class="custom-file-label" for="customFile">Выбирите файл</label>
            </div>
-->

            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="file" th:placeholder="#{messages.choose.file}"/>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Добавить </button>
            </div>

        </form>
    <br/>

    <div> <a th:href="@{/}"> <b> <span th:utext="#{messages.back}"></span> </b> </a> </div>

    <br/> <br/>
    <div th:insert="common::copy"></div>

</div>

</body>
</html>