<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title th:text="#{messages.title}"></title>
</head>

<body>

<div class="container">

    <div class="card-columns">
        <ul th:each="mess :${all_messages}">
            <div class="card my-3">
                <li>
                    <div class="m-2">
                        <span th:utext="${mess.text}"></span>

                        <div th:if="${mess.hasFile()}">
                            <i><a download="logo" th:href="@{'/messages/' +  ${mess.getFileNameCodeString()} }">файл</a></i>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <span th:text="${mess.user.username}"> </span>
                        <span th:text="${mess.createAt}"> </span>
                    </div>
                </li>
            </div>
        </ul>
    </div>

    <div th:insert="common::pager (${url}, ${all_messages})"></div>

    <br>
        <form th:action="@{/messages}" method="post" enctype="multipart/form-data" th:object="${message}">

            <div class="form-group">
                <textarea class="form-control" th:field="*{text}" id="textArea"
                          th:placeholder="#{messages.message}"></textarea>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input type="file"  class="custom-file-input" id="file1"/>
                    <label class="custom-file-label" for="file1"><span th:utext="#{messages.choose.file}"></span> </label>
                </div>
            </div>

            <script type="text/javascript">
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>


            <div class="form-group">
                <button type="submit" class="btn btn-primary"> <span th:utext="#{messages.send}"></span></button>
            </div>

        </form>
    <br/>

    <div> <a th:href="@{/}"> <b> <span th:utext="#{messages.back}"></span> </b> </a> </div>

    <br/> <br/>
    <div th:insert="common::copy"></div>

</div>

</body>
</html>