<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Простой чат</title>
</head>

<body>

<div class="container">
    <div class="row">
        <table style="color: black" id="each">
            <tr th:each="mess :${all_messages}">
                <td th:text="${mess.text}"></td>
                <!-- <td th:text="${mess.getFileNameString()}"></td>-->
                <td> <a download="logo" th:href="@{'file:/' + ${upload_path} }">файл</a></td>
                    <span>
                        <td th:text="${mess.user.username}"></td>
                        <td th:text="${mess.createAt}"></td>
                    </span>
            </tr>
        </table>
    </div>
</div>

<br>
<br>
<div>
    <form th:action="@{/messages}" method="post" enctype="multipart/form-data" th:object="${message}">
        <div>
            <label> Сообщение: <input type="text" th:field="*{text}"> </label>
        </div>
        <div>
            <label> Прикрепить файл: <input type="file" name="file"> </label>
        </div>
        <button type="submit"> Добавить </button>
    </form>
</div>
<br/>
<div> <a th:href="@{/}"> <b> Вернутся на главную страницу </b> </a> </div>

<br/> <br/>
<div th:insert="common::copy"></div>

</body>
</html>