<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Profile page</title>
</head>
<body>

<h1><span th:utext="#{profile.title}"></span></h1>

<div th:insert="common::registrashion (profile,user,false)"></div>

<br/>

<div>
    <a th:href="@{/}"> <span th:utext="#{messages.back}"></span> </a>
</div>

<br/> <br/>
<div th:insert="common::copy"></div>

</body>
</html>