<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="common::header"></div>
    <title>Registration page</title>
</head>

<body>
<div class="container">
    <h1><span th:utext="#{registration.greeting}"></span></h1>
    <div th:insert="common::registrashion (registration,user,true)"></div>
    <div> <a th:href="@{/}"> <b> <span th:utext="#{registration.back}"></span> </b> </a> </div>
<br/> <br/>
<div th:insert="common::copy"></div>
</div>
</body>

</html>