<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рекдактирование данных пользователя</title>
</head>
<body>

<div><b>Редактирование данных пользователя</b></div>
<div>
    <form th:action="@{/user_edit}" method="post" th:object="${user}">
        <div class="container">
            <p id="mess1" th:text="${error_exit}"></p>
        </div>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{password}">
        <div>
            <label> Пользователь:
                <input type="text" th:field="*{username}">
            </label>
        </div>

        <div>
            <label> Активный
                <input type="checkbox" th:field="*{active}"  th:checked="*{active}" />
            </label>
        </div>

        <div>
            <label> Элк.почта: <input type="email" th:field="*{email}" placeholder="some@some.com"/> </label>
        </div>
        <div class="container" id="role">
            <b>Роль пользователя</b>
            <div th:each="role : ${roles}">
                <input name="user_role" type="radio" th:value="${role}" th:checked="${user.getRoleString(role)}" />
                <label th:text="${role.toString()}"> Роль пользователя </label>
            </div>
        </div>
<!--
        <div class="container" id="role2" th:switch="*{roles}">
            <p th:case="'ADMIN'">User is an administrator</p>
            <p th:case="'USER'">User is a simple user</p>
            <p th:case="*">User is some other thing</p>
        </div>
-->
        <button type="submit"> Ввод </button>
    </form>
</div>
<br>
<div>
    <a th:href="@{/admin_users}"> Вернуться к администрированию </a>
</div>

</body>
</html>