<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{edit.title}"></title>
    <div th:insert="common::header"></div>
</head>
<body>
<div class="container">

    <b><span th:utext="#{edit.title}"></span></b>

<div>
    <br/>
    <div class="container">
        <p id="mess1" th:text="${error_exist}"></p>
    </div>
    <form th:action="@{/user_edit}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{password}">
        <div>
            <label> <span th:utext="#{login.user} + ':'"></span>
                    <input type="text" th:field="*{username}">
            </label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}" th:utext="#{common.error_user}">
            </span>
        </div>

        <div>
            <label> <span th:utext="#{login.password}"></span>
                    <input type="password" th:field="*{password}"/>
            </label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}" th:utext="#{common.error_password}">
            </span>
        </div>


        <div>
            <label> Активный
                <input type="checkbox" th:field="*{active}"  th:checked="*{active}" />
            </label>
        </div>

        <div>
            <label> Элк.почта: <input type="email" th:field="*{email}" placeholder="some@some.com"/> </label>
            <span class="validationError"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"> Ошибка ввода пользователя
            </span>
        </div>
        <div class="container" id="role">
            <b>Роль пользователя</b>
            <div th:each="role : ${roles}">
                <input name="user_role" type="radio" th:value="${role}" th:checked="${user.getRoleString(role)}" />
                <label th:text="${role.toString()}"> Роль пользователя </label>
            </div>
        </div>
<!--
        <div class="container" id="role2" th:switch="*{roles}">
            <p th:case="'ADMIN'">User is an administrator</p>
            <p th:case="'USER'">User is a simple user</p>
            <p th:case="*">User is some other thing</p>
        </div>
-->
        <br/>
        <button type="submit"> Ввод </button>
    </form>
</div>
<br/>
<div>
    <a th:href="@{/admin_users}"> Вернуться к администрированию </a>
</div>
<br/> <br/>
<div th:insert="common::copy"></div>
</div>

</body>
</html>